<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- we need this to download the images from imgur-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- DO NOT FORGET!!! define the name of the entryPoint-->
    <!--   android:name=".DailyPulseApplication" -->
    <application
        android:name=".DailyPulseApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 